<%= form_for @bar do |b| %>
<div class = "barform">
	<div class = "smallerform">
	 <span class ="text">Name:</span> <%= b.text_field :name %> <br />
	</div>

	<div class = "smallerform">
	  <span class = "text">Category:</span>  <%= b.select :category, [['Select a Type','Select a Type'], ['Dive','Dive'],['Lounge','Lounge'],['Sports Bar','Sports Bar'], ['Pub', 'Pub'], ['Karaoke', 'Karaoke'], ['Hookah', 'Hookah'], ['Jazz','Jazz']] %> <br />
	</div>

	<div class = "smallerform">
	  <span class = "text">Location:</span> <%= b.text_field :location %> <br />
	</div>

	<div class = "smallerform">
	   <span class = "text">Contact</span> <%= b.text_field :contact %> <br />
	</div>

	<%= b.file_field :image %>
	<div class = "smallerform"><%= b.submit %></div>


<% end %>



