<div class = "showpage">
		<h1> <u><em>Information Page</u></em></h1>
			<em>Name:</em> &nbsp;<span class = "editlabel"><%= @bar.name %></span>
		<br />
			<em>Location:</em>&nbsp; <%= @bar.location %>
		<br />
			<em>Contact:</em>&nbsp; <%= @bar.contact %>
		<br />
			<em>Category:</em>&nbsp; <%= @bar.category %>
	</div>


<% if !current_user %>
NOPE
<% else %>
<button id="edit" type="button"><%= link_to "Edit this Bar", edit_bar_path %></button>
<% end %>

