<h1>New User</h1>

<div id ="signup">
<%= form_for @user do |f| %>
  Name: <%= f.text_field :name, :placeholder => "Type your Name" %>
  Email: <%= f.text_field :email, :placeholder => "Type your Email" %>
  Password: <%= f.password_field :password, :placeholder => "Enter your Password" %>
  <%= f.submit %>
<% end %>
</div>

 